<img src="{{ site.profile | relative_url }}" alt="Profile" />
<h1><a href="{{ '/' | absolute_url }}">{{ site.title }}</a></h1>
<p>{{ site.tagline }}</p>
<ul class="links">
  <li>
    <a href="https://www.linkedin.com/in/ryan-najac/"
      ><i class="fa-brands fa-linkedin"></i
    ></a>
  </li>
  <li>
    <a href="https://github.com/rdnajac"><i class="fa-brands fa-github"></i></a>
  </li>
  <li>
    <a href="https://orcid.org/0009-0000-6280-5646"
      ><i class="fa-brands fa-orcid"></i
    ></a>
  </li>
</ul>
