<details>
  <summary><h2>My resume</h2></summary>
  <a href="#" id="toggle-source">View source</a>
  <div class="resume-container">
    <div id="pdf-container">
      <object
        data="{{ '/assets/rdnajac-resume.pdf' | relative_url }}"
        type="application/pdf"
      >
        <p>
          It appears you don't have a PDF plugin for this browser. You can
          <a href="{{ '/assets/rdnajac-resume.pdf' | relative_url }}"
            >click here to download the PDF file.</a
          >
        </p>
      </object>
    </div>
    <div id="source-container" style="display: none">
      <pre><code class="language-latex"></code></pre>
    </div>
  </div>
</details>

<script src="{{ '/assets/js/resume-toggle.js' | relative_url }}"></script>
