$highlight-bg: #1b1d1e;
$highlight-text: #f8f8f2;
$highlight-comment: #5e5d83;
$highlight-keyword: #66d9ef;
$highlight-number: #af87ff;
$highlight-string: #d7d787;
$highlight-name: #a6e22e;
$highlight-operator: #f92672;

.highlight {
  color: $highlight-text;
  background-color: $highlight-bg;

  table {
    td { padding: 5px; }
    pre { margin: 0; }
  }

  .c, .ch, .cd, .cpf, .cm, .c1 {
    color: $highlight-comment;
    font-style: italic;
  }

  .cp, .cs {
    color: #465457;
    font-weight: bold;
    font-style: italic;
  }

  .err {
    color: $highlight-text;
    background-color: #403d3d;
  }

  .gi { color: $highlight-name; }
  .gd { color: $highlight-operator; }
  .ge { font-style: italic; }
  .gr, .gt { color: $highlight-operator; }
  .gh, .go { color: #403d3d; }
  .gp { color: $highlight-keyword; }
  .gs { font-weight: bold; }
  .gu { color: #465457; }

  .k, .kv, .kc, .kd, .kp, .kr, .kt {
    color: $highlight-keyword;
    font-weight: bold;
  }

  .kn, .ow, .o {
    color: $highlight-operator;
    font-weight: bold;
  }

  .m, .mb, .mx, .mf, .mh, .mi, .il, .mo, .se {
    color: $highlight-number;
  }

  .s, .sa, .sb, .sc, .dl, .sd, .s2, .sh, .si, .sx, .sr, .s1, .ss {
    color: $highlight-string;
  }

  .na, .nc, .nd, .ne, .nf, .fm {
    color: $highlight-name;
    font-weight: bold;
  }

  .no { color: $highlight-keyword; }
  .bp, .nb, .ni, .nn, .vc, .vg, .vi, .nv, .vm { color: $highlight-text; }
  .w { color: $highlight-text; }
  .nl { color: $highlight-text; font-weight: bold; }
  .nt { color: $highlight-operator; }

  .ges { font-weight: bold; font-style: italic; }
}
