$font-family: "JetBrains Mono", monospace;
$bg-color: #16161d;
$text-color: #14afff;
$header-color: #ff6414;
$link-color: #39ff14;
$link-hover-color: #00ff00;
$link-bg: #696969;
$link-border: #808080;
$icon-color: #f4f4f4;
$icon-hover-color: #14afff;
