details {
  border-radius: 4px;
  padding: 0.5em;
  margin-bottom: 1em;
}

details > summary {
  list-style: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary::before {
  content: "👉";
  margin-right: 0.5em;
}

details[open] > summary::before {
  content: "👇";
}
