<!doctype html>
<html lang="{{ .Site.Language.Lang | default "en-US" }}">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    <meta name="description" content="{{ .Site.Params.description }}" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NBQ6Y8NPN6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-NBQ6Y8NPN6');
    </script>
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "css/syntax.css" | relURL }}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{ .Site.Params.favicon | relURL }}"
    />
  </head>

  <body>
    <header>{{ partial "header.html" . }}</header>

    <div class="wrapper">
      <section>
        {{ block "main" . }}{{ end }}
      </section>

      <hr />
      <footer><p>{{ .Site.Params.copyright | safeHTML }}</p></footer>
    </div>
    <script src="{{ "js/smooth-navigation.js" | relURL }}"></script>
  </body>
</html>
