<!doctype html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% seo %}
    <link
      rel="stylesheet"
      href="{{ '/assets/css/style.css' | relative_url }}"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/css/syntax.css' | relative_url }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{ site.favicon | relative_url }}"
    />
  </head>

  <body>
    <header>{% include header.html %}</header>
    <hr />

    <div class="wrapper">
      <section>{{ content }} {% include resume.html %}</section>

      <hr />
      <footer><p>{{ site.copyright }}</p></footer>
    </div>
    <script src="{{ '/assets/js/smooth-navigation.js' | relative_url }}"></script>
  </body>
</html>
