<!doctype html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% seo %}
    <link
      rel="stylesheet"
      href="{{ '/assets/css/style.css' | relative_url }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{ site.favicon | relative_url }}"
    />
  </head>

  <body>
    <header>{% include header.html %}</header>
    <hr />

    <div class="wrapper">
      <section>
        {{ content }}
        <details>
          <summary>
            <h2>
              Download my
              <a href="{{ '/assets/rdnajac-resume.pdf' | relative_url }}"
                >resume</a
              >
            </h2>
          </summary>

          ...or browse its
          <a href="{{ '/assets/rdnajac-resume.md' | relative_url }}"
            >source code</a
          >!
        </details>
      </section>

      <footer>
        <p>
          Copyright &copy; 2024
          <a href="{{ site.github.repository_url }}"
            >{{ site.github.owner_name }}</a
          >
        </p>
      </footer>
    </div>
  </body>
</html>
<!-- vim: ft=html -->
